%h2
  Search Friends
- if flash[:message]
  %div
    = flash[:message]
= form_tag(user_search_path, method: "get") do |f|
  %ul
    %li
      = label_tag(:email, "Email")
      = text_field_tag(:email)
    %li
      = label_tag(:full_name, "Full Name")
      = text_field_tag(:full_name)
    %li
      = submit_tag("Search")

%div
  - if @users.present?
    Search Results
    %ul
      - @users.each do |user|
        %li
          = "#{user.name} #{user.email}"
          - if user === current_user
            Your Account
          - elsif current_user.friend?(user)
            = link_to 'Remove from friends', { :controller => 'friendships', :action => 'unassign',:id => user.id}
          - elsif current_user.invitee?(user)
            = link_to 'Cancel friendship request', friendships_unassign_path(:id => user.id)
          - elsif current_user.inviter?(user)
            = link_to 'Accept', friendships_assign_path(:id => user.id)
            = link_to 'Decline', friendships_unassign_path(:id => user.id)
          - else
            = link_to 'Add to friends', { :controller => 'friendships', :action => 'assign',:id => user.id }